h1 {
  font-family: Calibri;
  text-align: center;
}

table, td {
  border: 3px white solid;
  text-align: center;
  font-family: Calibri;
  font-size: 20px;
  border-radius: 2px 2px 2px 2px;
}

td {
  text-decoration: none;
  padding: 3px solid #aaa;
  transition: all 0.3s; transition-delay: 0,1;
  position: relative;
  overflow: hidden;
}

td::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-110%) rotate (45deg);
  transition: all 1.2s cubic bezier(0.15, 1, 0.19, 1);
}

td:hover {
  border: 3px solid #000;
}

td:active {
  background-color: #000;
}

td:hover::before {
  background-color: #000;
  transform: translate(115%, -50px) rotate(90deg);
}

th, td {
  width: 50px;
  height: 50px;
}

.gases {
  color: #FA645B;
}

.liquido {
  color: blue;
}

.artificial {
  color: #EB0CD8;
}

.metales {
  background-color: #F5E986;
}

.semimetales {
  background-color: #BF8577;
}

.no-metales {
  background-color: #61F597;
}

.gases-nobles {
  background-color: #F5AB99;
}

.ast {
  background-color: #F5E986;
}

