h1 {
  font-family: Calibri;
  text-align: center;
}

table, td {
  border: 1px solid black;
  border-color: black;
  text-align: center;
  font-family: Calibri;
  font-size: 20px;
  border-radius: 2px 2px 2px 2px;
}

.gases-nobles:hover {
	background-color: #FF695C;
  color: #000000;
}

.no-metales:hover {
	background-color: #81FF6B;
  
}

.semimetales:hover {
	background-color: #B04D16;
  color: #000000;
}

tr .metales:hover {
	background-color: #F0DE41;
}

th, td {
  width: 50px;
  height: 50px;
}

.gases {
  color: #FA645B;
}

.liquido {
  color: blue;
}

.artificial {
  color: #EB0CD8;
}

.metales {
  background-color: #F5E986;
}

.semimetales {
  background-color: #BF8577;
}

.no-metales {
  background-color: #61F597;
}

.gases-nobles {
  background-color: #F5AB99;
}

.ast {
  background-color: #F5E986;
}
